<h2>商品詳細</h2>

<%= image_tag @item.image %>
<table>
  <tr>
    <td>商品名</td>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td>商品説明</td>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <td>
      税込価格</br>
      (税抜価格)
    </td>
    <td>(<%= @item.price %>)円</td>
  </tr>
</table>

<%= link_to edit_admin_item_path do %>
  編集する
<% end %>