<div class="container">
  <div class="row">
    <h3 class="bg-light">ショッピングカート</h3>
  </div>
  <% if @cart_items.empty? %>
    <div class="row">
      カートは空です
    </div>
  <% else %>
    <div class="row">
      <%= link_to destroy_all_cart_items_path, method: :delete, class:"btn btn-sm btn-danger mb-3 ml-auto" do %>
        カートを空にする
      <% end %>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="align-middle">
              <div><%= image_tag cart_item.item.image %></div>
              <div><%= cart_item.item.name %></div>
            </td>
            <td class="align-middle"><%= cart_item.item.with_tax_price %></td>
            <td class="align-middle">
              <%= form_with model: cart_item do |f| %>
                <%= f.select :amount, options_for_select(*[1..10], {selected: cart_item.amount.to_i} ) %>
                <%= f.submit "変更", class:"btn btn-success btn-sm" %>
              <% end %>
            </td>
            <td class="align-middle">
              <%= cart_item.sub_total %>
              <% @total_price += cart_item.sub_total %>
            </td>
            <td class="align-middle">
              <%= link_to cart_item_path(cart_item.id), method: :delete, class:"btn btn-danger btn-sm" do %>
                削除する
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-4">
        <%= link_to root_path, class:"btn btn-primary" do %>
          買い物を続ける
        <% end %>
      </div>
      <div class="col-4">
        <%= link_to new_order_path, class:"btn btn-success" do %>
          情報入力へ進む
        <% end %>
      </div>
      <div class="col-4">
        <table class="table table-bordered table-sm">
          <tr>
            <td class="bg-light">合計金額</td>
            <td><%= @total_price %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>