<div class="container">
  <div class="row">
    <h3 class="bg-light">商品一覧(全<%= @items_all.count %>件)</h3>
  </div>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-3">
        <div>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, size:"150x150" %>
          <% end %>
        </div>
        <div><%= item.name %></div>
        <div>￥<%= item.with_tax_price %></div>
      </div>
    <% end %>
  </div>

<%= paginate @items %>
</div>