<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0d6e0ddc74.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row my-3">
          <div class="col-12">
            <nav class="navbar navbar-expand-md nabvar-dark bg-light">
              <%= link_to root_path, class: 'nav-brond nav-link text-dark' do %>
                <p class='lead mb-0'>
                  <strong>
                    Nagano
                    <i class="fa-solid fa-mug-hot"></i>
                    Cafe
                  </strong>
                </p>
              <% end %>
              <% if admin_signed_in? %>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item mr-2">
                    <%= link_to admin_items_path, class: 'nav-link btn btn-outline-dark' do %>
                      商品一覧
                    <% end %>
                  </li>
                  <li class="nav-item mr-2">
                    <%= link_to admin_customers_path, class: 'nav-link btn btn-outline-dark' do %>
                      会員一覧
                    <% end %>
                  </li>
                  <li class="nav-item mr-2">
                    <%= link_to admin_root_path, class: 'nav-link btn btn-outline-dark' do %>
                      注文履歴一覧
                    <% end %>
                  </li>
                  <li class="nav-item mr-2">
                    <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-outline-dark' do %>
                      ログアウト
                    <% end %>
                  </li>
                </ul>
              <% elsif customer_signed_in? %>
                <p class="mb-0 ml-3">ようこそ、<%= current_customer.last_name %>さん！</p>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item mr-2">
                    <%= link_to customer_path, class: 'nav-link btn btn-outline-dark' do %>
                      マイページ
                    <% end %>
                  </li>
                  <li class="nav-item mr-2">
                    <%= link_to items_path, class: 'nav-link btn btn-outline-dark' do %>
                      商品一覧
                    <% end %>
                  </li>
                  <li class="nav-item mr-2">
                    <%= link_to cart_items_path, class: 'nav-link btn btn-outline-dark' do %>
                      カート
                    <% end %>
                  </li>
                  <li class="nav-item mr-2">
                    <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link btn btn-outline-dark' do %>
                      ログアウト
                    <% end %>
                  </li>
                </ul>
              <% else %>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item mr-2">
                    <%= link_to about_path, class: 'nav-link btn btn-outline-dark' do %>
                      About
                    <% end %>
                  </li>
                  <li class="nav-item mr-2">
                    <%= link_to items_path, class: 'nav-link btn btn-outline-dark' do %>
                      商品一覧
                    <% end %>
                  </li>
                  <li class="nav-item mr-2">
                    <%= link_to new_customer_registration_path, class: 'nav-link btn btn-outline-dark' do %>
                      新規登録
                    <% end %>
                  </li>
                  <li class="nav-item mr-2">
                    <%= link_to new_customer_session_path, class: 'nav-link btn btn-outline-dark' do %>
                      ログイン
                    <% end %>
                  </li>
                </ul>
              <% end %>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
