<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--ロゴを追加-->
      
      <%= link_to about_path do %>
        About
      <% end %>
      <!--商品一覧のリンク-->
      <!--新規登録のリンク-->
      <!--ログインのリンク-->
    </header>
    <body>
      <%= yield %>
    </body>
    <footer>

    </footer>
  </body>
</html>
